html{
    height:100%;

}
body{
    height:100%;
    background-size:cover;
    background-image:url("img/homeBG.jpg")
}
.top{
    background-color:#b6b6b6;
}
.top img{
    size:landscape;
    width:250px;
    height:75px;
}


.top button{
    float : right ;
    margin-top : 20px;
    margin-right : 15px;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}

.searchpart{
    background-image:url("img/homepage-bg.jpeg");
    margin-top : 4%;
    background-size : cover ;
    padding: 100px;
    width: 100%;
}

#searchButton {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
#searchButton:hover {
    background-color:#eb675e;
}

.searchForm {
    margin-left:40%;
}

.searchinputs{
    width:250px;
    padding: 12px 20px;
    margin: 8px 0;

}

.container{
    min-height:900px;
    width:100%;
    height:auto;
    background:#D0D2D9;
    border-left: 2px solid #828282;
    border-right: 2px solid #828282;
    border-bottom : 2px solid #828282;
}

#fullC{

    height:auto;
}

.dropdown {
    float:right;
    position: relative;
    display: inline-block;
}

.dropdown-content {    
    border-radius:5px;
    text-align:center;
    top:55px;
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    width: 400px;
    max-height:400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    overflow-y:auto;
}
.dropdown:hover .dropdown-content {
    display: block;
}

.notification {
    float:right;
    margin-top : 20px;
    margin-right : 15px;
    color:#ffffff;
    text-decoration: none;
    padding: 6px 12px;
    position: relative;
    display: inline-block;
    box-shadow:inset 0px 1px 0px 0px #8EB9F5;
    background:linear-gradient(to bottom, #388CF2 5%, #2068C7 100%);
    background-color:#388CF2;
    border-radius:6px;
    border:1px solid #1953D1;
    font-size:15px;
    font-weight:bold;
    text-shadow:0px 1px 0px #052482;
}

.notification:hover{
    text-decoration:none;
    color:#ffffff;
}

.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background-color: white;
    color: black;
}

#support, .support{
    margin-top:20px;
    box-shadow:inset 0px 1px 0px 0px #8EB9F5;
    background:linear-gradient(to bottom, #388CF2 5%, #2068C7 100%);
    background-color:#388CF2;
    border-radius:6px;
    border:1px solid #1953D1;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #052482;
}

.container h1{
    text-align:center ;
    font-size:40px;
    color:#f24537;
    margin-top : 50px;
}
/*Support Page*/

#supportHeader{
    color:black;
}
#question{
    margin-left:4%;
    display:inline-block;
    color:black;
}
#question1{
    margin-top:4%;
    margin-left:4%;
    font-weight:bold;
    display:inline-block;
}
#answer{
    color:black;
    display:inline-block;
}
#answer1{
    font-weight:bold;
    display:inline-block;

}

.supportQA{

    text-align:center;
    margin:auto;
    width:50%;
    height:100%;
}
.buttonsQA{
    text-align:center;
    margin-top:3%;
}
.buttonsQA button{
    margin-top:2%;
    box-shadow:inset 0px 1px 0px 0px #8EB9F5;
    background:linear-gradient(to bottom, #388CF2 5%, #2068C7 100%);
    background-color:#388CF2;
    border-radius:6px;
    border:1px solid #1953D1;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #052482;
}


/*Support Page*/
/*Submit a Request Ticket*/
.select-css {

    margin:auto;
    display: block;
    font-size: 16px;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width:40%;

    box-sizing: border-box;

    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#e5e5e5 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
}
#subsub{
    margin-top:2%;
    box-shadow:inset 0px 1px 0px 0px #8EB9F5;
    background:linear-gradient(to bottom, #388CF2 5%, #2068C7 100%);
    background-color:#388CF2;
    border-radius:6px;
    border:1px solid #1953D1;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #052482;
}


.select-css::-ms-expand {
    display: none;
}
.select-css:hover {
    border-color: #888;
}
.select-css:focus {
    border-color: #aaa;
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222;
    outline: none;
}
.select-css option {
    font-weight:normal;
}

.tArea{

    max-width:85%;
    min-width:85%;
    min-height:70px;
    margin:auto;

}


.submitReq{

    background-color:white;

    margin-left:30%;
    width:40%;
    height:50%;
}


/*Submit a Request Ticket*/
.container h2{
    margin-top : 100px;
    text-align : center ;
}


.form-popup {
    display: none;
    position: fixed;
    top : 0;
    left : 0 ;
    border: 3px solid #f1f1f1;
    z-index: 9;
    width: 100%; 
    height: 100%;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}
.form-container {
    overflow-y:scroll;
    max-width: 300px;
    max-height: 500px;
    padding: 30px;
    margin: 5% auto 5% auto;
    background-color : white ;
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s;
}
.form-container input[type=text], input[type=password],input[type=number],input[type=email], #bookingDate, #bookingTime {
    width: 100%;
    padding: 16px 0px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}
#email{
    width: 100%;
    padding: 16px 0px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
}

.form-container .btn {
    background-color: #4CAF50;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
}
.form-container .cancel {
    background-color: red;
}
.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}

.form-container h3{
    text-align: center;
    color : red;
    font-style: italic;
    font-weight: 900;
    font-size : 30px ;
}



#ca{
    float:right;
    width:120px;
    text-align: center ;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 0px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;   
}
#ca:hover {
    opacity:1;
}

#cancel{
    float:right;
    width: 120px;
    text-align: center ;
    background-color: red;
    color: white;
    padding: 14px 20px;
    margin: 0px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
#cancel:hover {
    opacity:1;
}

.form-popup label {
    color : black ;
}

#combobox{
    width:200px;
}

#profile {
    top: 25px;
    right: 130px;
}

#signout {
    top: 25px;
    right: 10px;
}


.wholepanel{
    position:absolute;
    float:left;
    width:50%;
    height:100%;


}

.functions{
    margin-left:17%;
    width:100%;
    height:90%;
    display:block;

}


.adminpanel{
    position:absolute;
    float:left;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    display:inline-block;
    color:#f24537;
    font-size:15px;
    height:90%;
    width:15%;
    text-decoration:none;
}

.adminpanel ul {
    list-style-type: none;
    padding: 0;
    height: 90%;

    background-color:gray;
}

.adminpanel ul h1{
    color:black;
    text-decoration: underline;
}

.adminpanel li a {
    display: block;
    color: white;
    padding: 8px 16px;
    text-decoration: none;
    border:1px solid #555;
    cursor:pointer;
}

.adminpanel li a:hover {
    background-color: #555;
    color: white;
}
.adminsearchpart{
    margin-left:5px;
    margin-top:55px;
}
.functions header{

    font-weight: normal;
    font-size: 40px;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: underline;
}
#adminsearch{
    display:none;
}

#viewBookings{
    display:none;
}

#restaurantShutdown{
    display:none;
}

#viewTickets{
    display:none;
}

#adminsearchinput {
    background-image: url('/css/searchicon.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    max-width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-top:5px;
}

#adminSearchTable {
    border-collapse: collapse;
    max-width:100%;
    table-layout:fixed;
    overflow-x:auto;
    border: 1px solid #ddd;
    font-size: 18px;
}

#viewTicketsTable{
    border-collapse: collapse;
    max-width:900px;
    table-layout:fixed;

    border: 1px solid #ddd;
    font-size: 18px;
}

#viewRestSignUps{
    border-collapse: collapse;
    table-layout:fixed;
    border: 1px solid #ddd;
    font-size: 18px;
}


#adminSearchTable th, #adminSearchTable td {
    text-align: left;
    padding: 12px;
}

#viewTicketsTable th, #viewTicketsTable td {
    text-align: left;
    padding: 12px;
}
#viewRestSignUps th, #viewRestSignUps td {
    text-align: left;
    padding: 12px;
}

#adminSearchTable tr {
    background-color: darkgray;  
    border-bottom: 1px solid #ddd;

}

table a{
    text-decoration: underline;
    color:black;

}
#viewTicketsTable tr {
    background-color: #8EB9F5;  
    border-bottom: 1px solid #ddd;

}

#viewRestSignUps tr {
    background-color: darkgray;  
    border-bottom: 1px solid #ddd;

}

#adminSearchTable tr.head  {
    background-color: #f1f1f1;
}
#adminSearchTable tr:hover{
    background-color: #f1f1f1;
}
#viewTicketsTable tr.head, #viewTicketsTable tr:hover {
    background-color: #f1f1f1;
}

#viewRestSignUps tr.head, #viewRestSignUps tr:hover {
    background-color: #f1f1f1;
}

#adminSearchTable tbody{
    overflow:auto;
}

#viewTicketsTable tbody{
    overflow:auto;
}

.old_ie_wrapper {
    max-height: 500px;
    overflow-x: auto;
    overflow-y: auto;
    tbody { height: auto; }
}


* {
    box-sizing: border-box;
}




#searchResults {
    border-collapse: collapse;
    width: 40%;
}

#searchResults td, #searchResults th {
    border: 1px solid #ddd;
    padding: 8px;
}

#searchResults tr:nth-child(even){background-color: #f2f2f2;}
#searchResults tr:nth-child(odd){background-color: #C7C3C3;}

#searchResults tr:hover {background-color: #ddd;}

#searchResults th {
    width:max-content;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #f24537;
    color: white;
}

#searchResults button{
    margin-top:10%;
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05; 
}

/*filter start*/

.filters {
    background-color: #ABABAB;
    height: 100%;
    float: left;
    width: 9%;
    margin-right: 3%;
}
.filters p{
    text-align: center;
    font-weight: bold;
}
.filters input[type="submit"]{
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
    width:100%;
}

#firstPart{
    float : left;
    width : 50%;
    height : 110%;
    margin-top:10px;             
}

#secondPart {
    float : left;
    width : 50%;
    height : 110%;
    margin-top:10px;             
}

#description {
    text-align : center;
    width : 80%;
    height: 40%;
    margin-left : 10%;
    margin-top : 5%;    
}


#infos {
    text-align:center;
    width : 80%;
    height : 50%;
    margin-left : 10%;
    margin-top : 5%;
}

#restBook {
    text-align :center;
}

/* Slideshow container */
.slideshow-container13 {
    max-width: 80%;
    position: relative;
    margin: auto;
    margin-top : 5%;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 80%;
    text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.restPics{
    width:100%;
    height :35%;
}

.reviews{
    margin:auto;
    width:80%;
    height:60%;
    overflow-y:auto;
    background-color:#DBB4B4;
    text-align:center;
}

.reviewHeader{
    margin:auto;
    width:80%;
    background-color:#A38383;
    text-align:center;
}
.starNPrice{
    float:left;
}


.commentCard{
    width:95%;
    margin-left:2.5%;
    background:#A38383;
    font-weight:bold;
}
.comment{
    width:90%;
    margin-left:5%;
    text-align:left;
}
.replyRest{

    margin-left:7%;
    text-align:left;
}
.replyComment input{
    width: 3%;
    padding:0px;
    margin: 0 0 0 0;
    border: none;
    background: none;
    display:none;
}

#full{
    width:100%;
    height:110%;
}
.changePassword {
    display:inline-block;
}
#formArea{
    display:block;
    margin-top:3%;

}
#formArea h3{
    text-align:center;
}

.formX1, .content {
    float:left;
    margin-left:5%;
    width: 30%;
    margin: 0px;
    padding: 20px;
    background-color:#D1D1D1;
}
#accountSettings{
    display:none;
}

.formX1 button {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}

.formX, .content {
    width: 30%;
    margin: 0px auto;
    padding: 20px;
    background-color:#D1D1D1;
    font-weight:bold;
    text-align:center;
}

.input-group {
    margin: 10px 0px 10px 0px;
    text-align:left;
}

.input-group label{
    letter-spacing: 0px;
    word-spacing: 0px;
    font-weight: bold;
}
.input-group input {
    height: 30px;
    width: 93%;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid gray;

}
.uploadImageButton{
    text-align:center;
}
.uploadImageButton a{

}
.formX button {
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.error {
    width: 85%; 
    margin-left:auto;
    margin-right:auto;
    padding: 5px; 
    border: 1px solid #a94442; 
    color: #a94442; 
    background: #f2dede; 
    border-radius: 3px; 
    text-align: left;
}
#feedback {
    display:none;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 45%;
    height:50%;
    padding: 5px; 
    border: 1px solid #42A858; 
    color: #42A858; 
    background: #C9DBC8; 
    border-radius: 3px; 
    text-align: center;
    font-weight:bold;
    font-size:25px;
    align-content:center;
}
#feedback p {
    margin-top:5%;
}
#feedback a, #feedback button{
    position: absolute;
    top:60%;
    left:45%;
    padding: 20px;
    font-size: 25px;
    color: white;
    background: #5F9EA0;
    border: none;
    border-radius: 5px;
    cursor:pointer;
}
.success {
    color: #3c763d; 
    background: #dff0d8; 
    border: 1px solid #3c763d;
    margin-bottom: 20px;
}

/*USER PROFLE*/
#fullProfile {
    background-color:#DCDCDC;
    margin-top : 2%;
    margin-left : auto;
    margin-right : auto;
    width: 90%;
    height : 110%;
}

#personalInfos{
    float:left;
    background-color :#E6E6FA;
    width: 40%;
    height: 30%;
    margin-top : 5%;
    margin-left : 30%;
    margin-right: auto;
    text-align : center ;
    border-style: groove;
}

#personalInfos p, label {
    margin-top : 5%;
    font-size: 17px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
}

#profileButtons{
    float:left;
    margin-left : 5%;
    margin-top: 15%;
}

.stats{
    float:left;
    margin-left:6%;
    margin-top:5%;
    width:40%;
    height:50%;
    background-color: #E6E6FA;
    text-align: center;
    border-style: groove;
    overflow-x: hidden;
    overflow-y: auto;
}

#userProfileTable {
    border-collapse: collapse;
    max-width:100%;
    table-layout:fixed;
    margin-left:5%;
    margin-right: 5%;
    margin-top:2%;
    border: 1px solid #ddd;
    font-size: 18px;
}

#userProfileTable th, #userProfileTable td {
    text-align: left;
    padding: 12px;
}
#userProfileTable tr {
    background-color: darkgray;  
    border-bottom: 1px solid #ddd;

}
#userProfileTable tr.head  {
    background-color: #f1f1f1;
}
#userProfileTable tr:hover{
    background-color: #f1f1f1;
}

#userProfileTable tbody{
    overflow:auto;
}

#userProfileTable th, #userProfileTable td {
    text-align: left;
    padding: 12px;
}

#formArea p{
    text-align:center;
}
.mostpopular{
    width:60%;
    height:60%;
    margin-left : auto;
    margin-right: auto;

}

.restaurantCard{
    margin-left:auto;
    margin-right:auto;
    height:30%;
    background-color:#F27066;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}
.restaurantCard h2{
    margin:0;
    height:100%;
    background-color:#F24537;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
    text-decoration:none;
}
.restaurantCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
.restaurantCard a{
    color:white;
}
.restaurantCard a:visited{
    color:white;
}
.restaurantCard a:hover{
    color:#ED9899;
}
.cardContainer{
    text-align:center;
    margin:0;
}

.cardContainer h4{
    text-align:center;
}

.topprofile{
    text-align:center;
    width:100%;
}
.topprofile button{
    box-shadow:inset 0px 1px 0px 0px #f5978e;
    background:linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color:#f24537;
    border-radius:6px;
    border:1px solid #d02718;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:15px;
    font-weight:bold;
    text-decoration:none;
    text-shadow:0px 1px 0px #810e05;
}
.myNotifications{
    width:80%;
    margin-top:40px;
    margin-bottom:40px;
    margin-left:auto;
    margin-right:auto;
    max-height:600px;
    overflow-y:auto;
}

.myNotifications a:hover{
    text-decoration:none;
}
.notificationBar{
    width:90%;
}
.notificationCard{
    width:80%;
    margin:auto;
    text-align:center;
    background-color:white;
    border-top:2px solid #388CF2;
    border-bottom:2px solid #388CF2;
    font-weight:bold;
    color:#388CF2;
}
.notificationCard p{
    font-size:17px;
    margin:auto;
    width:90%;
    letter-spacing:1px;
}
.notificationCard:hover, .notificationCard a:hover{
    color:white;
    text-decoration:none;
    background-color:#388CF2;
}